{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Update Form</title>
{% endblock %}

{% block content %}
    <h1><b><u><center>STUDENT FORM UPDATE</center></u></b></h1>
    <div class="container">
        <form method="post">
            {% csrf_token %}

            {{ form|crispy }}

            <input type="submit" value="Update" class="btn btn-success col-6 btn-sm">
            <input type="reset" value="RESET" class="btn btn-warning col-6 btn-sm float-end">
        </form>
    </div>
{% endblock %}